
@import "bgc.css";
html,body{
	width:100%;
	height:100%;
	overflow-x:hidden;
}

.items{
	position: absolute;
	top:10%;
	width:100%;
	height:100%;
	display: block;
}
.ItemType{
	position: relative;
	left:15%;
	width:35%;
	height:20%;
	color:green;
	font-size: 5vw;
	text-align: center;
	background-color: black;
	float:left;
	margin:15px;
	display: inline-block;
	border-radius: 10px;
}
.ItemType div :not(.count){
	position: absolute;
	display: block;
	bottom: 0;
	width:100%;
	height: 20%;
}

.ItemType div button{
	background-color: #ffffff;
	border-radius: 50%;
}

.ItemType div .plus{
	position: absolute;
	right:0%;
	width:10%;
	display: inline-block;
}
.ItemType div .minus{
	position: absolute;
	left:0%;
	width:10%;
	display: inline-block;

}
.ItemType div .count{
	position: absolute;
	bottom: 0;
	left:25%;
	width:50%;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 5px;
}

.ItemType div .plus, .ItemType div .minus, .ItemType div .count{
		font-size: 2vw;
}

@media only screen and (max-width:960px){
	.ItemType{
		float:none;
		width:70%;
		font-size: 7vw;
	}
	.ItemType div .plus, .ItemType div .minus, .ItemType div .count{
			font-size: 3vw;
	}
}
.addtocart{
	position: absolute;
	bottom: 10;
	right: 0;
	width: 10%;
	height: 10%;
	border-radius: 50%;
}
