@import "bgc.css";
.items{
	position: absolute;
	top:12%;
	width: 100%;
	display: block;
}
.items .item{
	position: relative;
	display: block;
	width: 100%;
	height:25vw;
	font-size: 5vw;
	margin-bottom: 20px;
	border-bottom: 2px solid #ffffff;
	text-transform: capitalize;
}
.item .left{
	position: relative;
	left:0%;
	width:50%;
	height: 100%;
}
.item .left img{
	position: relative;
	left:0%;
	max-width: 100%;
	max-height: 100%;
}
.item .right{
	position: absolute;
	left:50%;
	top:0%;
	width: 50%;
	height: 100%;
	display: inline-block;
}
.items .item .right .bottom{
	position: absolute;
	bottom: 0;
	display: inline-block;
	font-size: 2vw;
	width: 100%;
	height: 20%;
}
.minus,.plus{
	border-radius: 50%;
	background: transparent;
}
.plus{
	position: absolute;
	right: 5%;
	top: 0%;
}
.count{
	position: absolute;
	left: 40%;
	top: 0%;
	width: 20%;
	border: 1px solid #ffffff;
	border-radius: 2px;
	text-align: center;
}
.minus{
	position: absolute;
	left: 2%;
	top: 0%;
}
.minus,.plus,.count{
	display: inline-block;
	font-size: 3vw;
	color: #ffffff;
}


#addcart{
	position: fixed;
	right:2%;
	bottom:2%;
}
#addcart {
  	color: #ffffff;
    background: transparent;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #ffffff;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
		transition: all ease 0.8s;
}
#addcart:hover {
    box-shadow: inset 300px 0 0 0 #e0e0e0;
    color: #fff;
}
