.nav
{
	width:100%;
	height:8%;
	position: absolute;
	left:0%;
	top:0%;
	background-color: #ffffff;
}
.btn
{
	position: absolute;
	top:5%;
	height: 60%;
	width:30%;
	text-align: center;
	font-size: 2vw;
	color:white;
	padding:5px;
	background-color: #12cedb;
	display: inline-block;
	box-shadow: 2px 2px 2px 2px black;
}
.btn:hover{
	background-color: #0390a6;
}
#goHome{
	position: absolute;
	right:0%;
	top:5%;
	width:20%;
	text-align: center;
	height: 60%;
	font-size: 2vw;
	color:white;
	padding:5px;
	background-color: #12cedb;
	display: inline-block;
	box-shadow: 2px 2px 2px 2px black;
}
#goHome:hover{
	background-color: #0390a6;
}
#title{
	position: absolute;
	right: 0%;
	left: 31%;
	top: 5%;
	width: 50%;
	text-align: center;
	height: 60%;
	font-size: 2vw;
	color: #ffffff;
	padding: 5px;
	background-color: #12cedb;
	display: inline-block;
	box-shadow: 2px 2px 2px 2px black;
}
#title :hover{
	background-color: #c0c0c0
}